

<section id="login-section" class="log-section">
    <div class="small-container">
        <div class="text-center">
            <h2>Log In</h2>
            <p>Log in to your account. No account? Sign up <a asp-controller="AuthenticationController1" asp-action="SignUp">here</a></p>
        </div>
        <form id="login-form" action="" >
            <div class="d-flex">
                <input id="login-email" type="text" class="col-6 p-3 me-2 mt-5" placeholder="Enter your email" >
                
                <input id="login-password" type="text" class="col-6 p-3 ms-2 mt-5" placeholder="Enter your password">
            </div>
            <div class="d-flex justify-content-between px-3">
                <div class="col-6 ">
                    <p id="login-email-error" class=" ps-2 text-danger">error</p>
                </div>
                <div class="col-6 ">
                    <p id="login-password-error" class="text-start text-danger ms-3 ps-3">error</p>
                </div>
            </div>
            <div class="text-danger d-flex justify-content-center m-3">summary</div>
            <div class="d-flex justify-content-center">
                <button type="submit" class="button-omni">Log In</button>
            </div>
               
        </form>
    </div>
</section>