
<section id="footer-section" class="d-flex">

    @* <div class="footer-filler-div"> *@
    @*     <div id="blue-circle"></div> *@
    @* </div> *@
    <div class="footer-filler-div">
        <div id="blue-circle2"></div>
    </div>


    <div id="footer-left">
        <h4>OmniVus.</h4>
        <p>
            The web has changed a lot since we posted our first article back in 2007. The team at Mattin-Lassi Group has changed too, as have the things that we bring to our community
            conferences, books, and our membership added to the online magazine.

            One thing that hasn’t changed is that we’re a small team — with most of us not working
        </p>
    </div>
    <div class="footer-filler-div">
        
    </div>
    <div id="footer-right">
        <h4>Working Hours</h4>
        <p>Monday - Friday: 7:00 - 17:00</p>
        <p>Saturday: 7:00 - 12:00</p>
        <p> Sunday and holidays: 8:00 - 10:00</p>
        <p>
            For more then 15 years, IT Service has been a reliable partner in the field of logistics and cargo forwarding.
        </p>
    </div>

    <div class="footer-filler-div">
        <img src="images/FooterSmallCircles.svg" id="small-circle" alt="small circles" title="small circles"/>
        

    </div>

</section>
