

<section id="header-section" class="container-fluid">
    <div id="" class="container  container-fluid d-flex justify-content-between">
        <div id="brand-div">
            <h1>OmniVus.</h1>
            <p>IT Service & Technology</p>

        </div>
        <div class="d-flex flex-column aling-items-center">
            <div id="social-media-div" class="d-flex justify-content-end align-items-center">
                @if(_signInManager.IsSignedIn(User))
                {
                    <div class="social">
                        @* <a asp-controller="Profile" asp-action="Index">Edit profile</a> *@
                        <a asp-controller="Profile" asp-action="Edit" asp-route-id="@User.FindFirst("Id").Value">P.Edit</a>
                        <a href="#">@User.FindFirst("DisplayName").Value</a>
                        <a href="#">@User.FindFirst("Role").Value</a>
                        
                        
                        <a>@User.FindFirst("Fortune").Value</a>
                        <a asp-controller="Authentication" asp-action="SignOut">Sign out</a>
                        <a asp-controller="Profile" asp-action="Edit" >@await _profileManager.GetProfileDisplayNameAsync(User.Identity.Name)</a>
                       
                        @if (User.IsInRole("Admin"))
                        {
                            <a asp-controller="Role" asp-action="Index">Manage roles</a>
                            <a asp-controller="Profile" asp-action="Index">AppProfiles</a>
                        }
                        
                    </div>                    
                }
                else
                {
                    <a href="">Facebook</a>
                    <a href="">YouTube</a>
                    <a href="">Twitter</a>
                    <a href="">Linkedin</a>
                }
            </div>
            <div id="menu-div" class="d-flex justify-content-end align-items-end">
                <a asp-controller="Home"  asp-action="Index">Home</a>
                <a asp-controller="Home" asp-action="TestOfDb">Privacy</a>
                <a asp-controller="Home" asp-action="Contact">Contact</a>
                
                @if (_signInManager.IsSignedIn(User))
                {
                    <button class="btn px-5 py-2"> <a  asp-controller="Authentication" asp-action="SignOut"  >Log Out</a></button>
                }
                else
                {
                    <button  class="btn px-5 py-2"><a asp-controller="Authentication" asp-action="SignIn">Log in</a></button>
                }
                
                    
            </div>
        </div>
    </div>
</section>
