@model KristofferNowen_OmniVus.Models.Roles.CreateRoleModel
@{
    ViewData["Title"] = "CreateRole";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<div class="text-center"><h1>CreateRole</h1></div>

<form asp-action="CreateRole" class="col-4 offset-4">
    <div>
        <p>Name the role you want to create</p>
        <input id="create-roleName" asp-for="RoleName" class="container-fluid" placeholder="name of role"/>
        <p id="create-roleName-response"></p>
    </div>
    @* <div> *@
    @*     <p>Write email of who you want to give it to</p> *@
    @*     <input asp-for="UserEmail" class="container-fluid" placeholder="email of user"/> *@
    @* </div> *@
    <div class="d-flex  flex-column">
        <button class="button-omni my-3" type="submit" >Create</button>
        <button class="button-omni"><a asp-controller="Role" asp-action="Index">Home</a></button>
    </div>
</form>

<script src="~/js/site.js" asp-append-version="true"></script>


