@model IEnumerable<IdentityRole>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="col-6 offset-3">
    <h1 class="text-light text-center">Roles</h1>

    <a class="no-deco-a my-2" asp-action="CreateRole">Create Role</a>

    @foreach (var role in Model)
    {
        <div class="d-flex">
            <p class="p-box container-fluid">@role.Name</p>
            <a asp-controller="Role" asp-action="Edit" asp-route-id="@role.Id" class="no-deco-a">Edit</a> 
            <a asp-controller="Role" asp-action="Delete" asp-route-id="@role.Id" class="no-deco-a">Delete</a>
        </div>
    }

    <div class="d-flex justify-content-center">
        <button class="button-omni my-3"><a asp-controller="Home" asp-action="Index">Home</a></button>
    </div>
</div>