@{
    ViewData["Title"] = "Home Page";
}

<partial name="_HeaderPartial"/>

<section id="showcase-section">
        
    <div class="small-container">
        <div class="container-fluid d-flex justify-content-between">
            <div id="showcase-left" class="d-flex flex-column justify-content-center align-items-start">
                <p>Promote any product, service or online course.</p>
                <h2>Get every it Services Here</h2>
                <div class="d-flex align-items-center justify-content-between p-0">
                    <img src="/images/Group 13.svg" alt="">
                    <p>IT Product</p>
                        
                    <img src="/images/Group 14.svg" alt="">
                    <p>IT Services</p>
                </div>
            </div>
            <div id="showcase-right">
                <!--<img src="/images/Component 1 – 1.svg" alt=""> -->
                <img src="/images/Group 15.svg" alt="">
            </div>

        </div>
    </div>
</section>

<section id="about-section">
        
    <div class="small-container d-flex justify-content-between">
        <div id="about-left">
            <img src="/images/Group 25.svg" alt="">
        </div>
        <div id="about-right">
            <div class="d-flex justify-content-start">
                <small><p>About Us</p></small>
                <div class="align-items-center">
                    <img src="/images/line.svg" alt="">
                </div>
            </div>
            <h3>You can't use up 
                creativity.</h3>
            <p>
                Does any industry face a more complex audience journey and marketing sales process than B2B technology? Consider the number of people who influence a sale, the length of the decision-making cycle, the competing interests of the people who purchase, implement, manage, and use the technology. It’s a lot meaningful content here.
            </p>
            <div id="years-div" class="d-flex justify-content-start align-items-center">
                <p>15</p>
                <p>Years Of Experience</p>
            </div>
            <button class="button-omni">Learn More</button>
            <button class="button-omni">Intro Video</button>
        </div>
    </div>
</section>

<section id="video-section">
    <div class="small-container d-flex">
        <div id="video-left" class="">
            <div class="d-flex justify-content-start">
                <small><p>Intro</p></small>
                <div class="align-items-center">
                    <img src="/images/line.svg" alt="">
                </div>
            </div>
            <h2>How we growth <br> our business.</h2>
            <p>The introduction of cloud and mobile technologies into enterprise software.</p>
            <p>Whether you are building an enterprise web portal or a state-of-the-art website, you always need the right modern tools. Well-built and maintained .NET 
                frameworks provide those tools in abundance, allowing maintained .NET frameworks provide those tools in abundance, allowing developers to save time, 
                re-use code, and streamline the back end. As software development tools continuously.</p>
            <button class="button-omni">Learn More</button>
        </div>
        <div id="video-right">
            <img src="/images/Group 16.svg" alt="">
        </div>
    </div>
</section>

<section id="book-a-meeting-section" class="log-section">
    <div class="small-container">
        <div class="text-center">
            <h2>Book a Meeting</h2>
            <p> Does any industry face a more complex audience journey and <br/> marketing sales process than B2B technology?
            </p>
        </div>
        <form id="login-form" action="" class="row">
            
            <div class="col-12 p-0 d-flex justify-content-between">
                <div class="input-div">
                    <input id="login-email" type="text" class="container-fluid p-3 " placeholder="Enter your name" >
                </div>
                <div class="input-div">
                    <input id="login-password" type="text" class="container-fluid p-3  " placeholder="Enter your email">
                </div>
            </div>
            
            <div class="d-flex justify-content-between col-12 p-0 mt-5">
                <textarea class="p-3 m-0 col-12" placeholder="Enter your question and subject here."></textarea>
            </div>
            
            <div class="d-flex justify-content-center mt-5">
                <button class="button-omni">Book A Meeting</button>
            </div>
               
        </form>
    </div>
</section>

<partial name="_FooterPartial"/>