

<partial name="_HeaderPartial"/>




    <section class="contact-service-header-section">
        <div id="div-1-contact" class="d-flex justify-content-center align-items-center">
            <div class="text-center">
                <h1 class="mb-4">Services</h1>
                <div id="link-div-contact">
                    <a href="">Home</a>
                    <span>|</span>
                    <a href="">Services</a>
                </div>
            </div>
        </div>
    </section>


    <section id="services-grid-section">
        <div id="the-grid" class="small-container">
            <div class="div-box">
                <div id="box1" class="grey-patch-div"></div>
                <div class="d-flex justify-content-center align-items-center flex-column text-div">
                    <img src="/images/Little-blue-square.svg" asp-append-version="true" alt="">
                    <div>
                        <p class="text-center">UI/UX Design</p>
                    </div>
                    <div class="px-5">
                        <p id="hidden-text">The functional goal of technical content is to help people use a product
                            successfully. The business goal must tie the content.</p>
                    </div>

                </div>
            </div>
            <div id="box2" class="div-box">

                <div class="d-flex justify-content-center align-items-center flex-column text-div">
                    <img src="/images/Little-blue-square.svg" asp-append-version="true" alt="">
                    <div>
                        <p class="text-center">IT Consultancy</p>
                    </div>
                    <div class="px-5">
                        <p id="hidden-text">The functional goal of technical content is to help people use a product
                            successfully. The business goal must tie the content.</p>
                    </div>
                </div>
            </div>
            <div id="box3" class="div-box">
                <div class="grey-patch-div"></div>
                <div class="d-flex justify-content-center align-items-center flex-column text-div">
                    <img src="/images/Little-blue-square.svg" asp-append-version="true" alt="">
                    <div>
                        <p class="text-center">Technology Prof.</p>
                    </div>
                    <div class="px-5">
                        <p id="hidden-text">The functional goal of technical content is to help people use a product
                            successfully. The business goal must tie the content.</p>
                    </div>
                </div>
            </div>
            <div id="box4" class="div-box">
                <div class="grey-patch-div"></div>
                <div class="d-flex justify-content-center align-items-center flex-column text-div">
                    <img src="/images/Little-blue-square.svg" asp-append-version="true" alt="">
                    <div>
                        <p class="text-center">Web Development</p>
                    </div>
                    <div class="px-5">
                        <p id="hidden-text">The functional goal of technical content is to help people use a product
                            successfully. The business goal must tie the content.</p>
                    </div>
                </div>
            </div>
            <div id="box5" class="div-box">
                <div class="grey-patch-div"></div>
                <div class="d-flex justify-content-center align-items-center flex-column text-div">
                    <img src="/images/Little-blue-square.svg" asp-append-version="true" alt="">
                    <div>
                        <p class="text-center">App Development</p>
                    </div>
                    <div class="px-5">
                        <p id="hidden-text">The functional goal of technical content is to help people use a product
                            successfully. The business goal must tie the content.</p>
                    </div>
                </div>
            </div>
            <div id="box6" class="div-box">
                <div class="grey-patch-div"></div>
                <div class="d-flex justify-content-center align-items-center flex-column text-div">
                    <img src="/images/Little-blue-square.svg" asp-append-version="true" alt="">
                    <div>
                        <p class="text-center">Game Design</p>
                    </div>
                    <div class="px-5">
                        <p id="hidden-text">The functional goal of technical content is to help people use a product
                            successfully. The business goal must tie the content.</p>
                    </div>
                </div>
            </div>
            
        </div>
    </section>

<partial name="_FooterPartial"/>
