@model TestModel
@{
    ViewData["Title"] = "TestOfDb";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="d-flex justify-content-center align-items-center text-light">
    <div>
        <h1>TestOfDb</h1>
        <div>
            <h4>@Model.Name</h4>
            <h4>@Model.UserId</h4>
        </div>
    </div>
</div>



